# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [2]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

data.to_csv('data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [3]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

Перед ответом на вопросы создадим функцию, строящую сводную таблицу на основани заданного фрейма данных и столбцов для группировки.

In [22]:
#Функция для построения сводной таблицы
#Функция будет принимать два аргумента
    #1. data - набор данных
    #2. col - список столбцов по которым будет производится группировка
#Значением везде будет выступать столбец "debt"
#Функции аггрегирования: "sum" и "count"
#Дополнительно рассчитаем долю должников в столбце "percentage"

def create_pivot_table(data, col):
    data_pivot = data.pivot_table(index=col, values=['debt'], aggfunc=['sum', 'count'])
    data_pivot['percentage'] = (100 * data_pivot['sum'] / data_pivot['count'])
    return data_pivot

Для ответа на первый вопрос сгруппируем данные по количеству детей. Для этого применим нашу функцию `create_pivot_table()`

In [23]:
#Сводная таблица по количеству детей
create_pivot_table(data, ['children'])

           sum  count percentage
          debt   debt
children
0         1063  14091   7.543822
1          444   4808   9.234609
2          194   2052   9.454191
3           27    330   8.181818
4            4     41   9.756098
5            0      9   0.000000

Как мы можем увидеть, клиенты с 5-ю детьми вообще не имеют просрочек. Не считая это, наименьшая доля у группы без детей (7,54). Наибольшая доля у группы с 4-мя детьми (9.75). 
Группа "5" сильно выделяется от остальных строк, возможно из-за малого количества человек в выборке. Также тенденцию нарушает группа "3".

В целом мы можем увидеть, что наличие детей увеличивает риск иметь просрочку. Но однозначно сказать что, с увеличением количества детей, количество просрочек увеличивается - нельзя.


Попробуем разбить данные по трем категориям:

- Нет детей
- 1 ребенок
- Много детей

In [24]:
#Напишем функцию для разбивки и применим в таблице
def categorized_children(col):
    if col == 0:
        return 'Нет детей'
    if col == 1:
        return "1 ребенок"
    return "Много детей"
data['group_children'] = data['children'].apply(categorized_children)
data.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category,group_children
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью,1 ребенок
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем,1 ребенок
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью,Нет детей
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования,Много детей
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы,Нет детей

In [25]:
#Сводная таблица по созданным категориям
create_pivot_table(data, ['group_children']).sort_values('percentage')

                 sum  count percentage
                debt   debt
group_children
Нет детей       1063  14091   7.543822
1 ребенок        444   4808   9.234609
Много детей      225   2432   9.251645

**Вывод:**


Несмотря на то, что разница долей между группами "1 ребенок" и "Много детей" есть, она очень мала. Из-за клиентов, которые имеют 3 и 5 детей.
Таким образом зависимость между наличием детей и количеством клиентов с просрочками есть.
А ответ на главный вопрос про наличие зависимости между количеством детей и количеством клиентов с просрочками - нет.


Это может говорить, что наличие уже одного ребенка может повлиять на распределение семейного бюджета и неспособность погасить платеж в срок.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

Аналогично предыдущей гипотезе - сгруппируем наши данные. Только в этот раз по семейному положению.

In [26]:
#Сводная таблица по семейному положению
create_pivot_table(data, ['family_status']).sort_values('percentage')

                       sum  count percentage
                      debt   debt
family_status
вдовец / вдова          63    951   6.624606
в разводе               84   1189   7.064760
женат / замужем        927  12261   7.560558
гражданский брак       385   4134   9.313014
Не женат / не замужем  273   2796   9.763948

**Вывод:** 

Мы видим, что те кто состояли в браке имеют наименьшую долю просрочек. Дальше идут те кто состоят в серьезных отношениях (официально зарегистрированных или нет). И наконец наибольшую долю просрочек имеют те, кто не состоит в "серьезных" отношениях.

Это может говорить о том, что наличие имеющихся или закончившихся зарегистрированных браков положительно влияет на финансовую грамотность людей и на распределение своего бюджета. Возможно это связано с созданием "семейного бюджета", и им приходится считаться с партнером. Свободные же люди менее серьезно относятся к своевременному возврату заемных средств, вероятно ввиду большей свободы по распоряжению своими средствами и у них нет дополнительной мотивации гасить платежи день в день.

**Таким образом, зависимость между семейным положением и возвратом кредита в срок - есть.**

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

Напомним что мы разбили доходы клиентов по категориям:

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.

Сгуппируем данные по этим категориям.

In [27]:
#Группировка по уровню дохода
create_pivot_table(data, ['total_income_category']).sort_values('percentage')

                        sum  count percentage
                       debt   debt
total_income_category
D                        21    349   6.017192
B                       354   5014   7.060231
A                         2     25   8.000000
C                      1353  15921   8.498210
E                         2     22   9.090909

**Вывод:** 

Результаты очень неоднозначны. Группы "D", "A", "E" слишком малы относительно других, чтобы по ним можно было сделать выводы.
Это можно можно объяснить тем, что представители групп "A" и "E" не склонны оформлять заявки на кредит.
- Группа "E" имеет слишком маленький доход для обеспечения кредита
- Группа "A" имеет слишком большой доход, и им нет необходимости брать кредит

Группу "D" мы можем отнести к среднему классу в регионах, и такие люди склонны брать кредиты (что мы можем увидеть в смежной группе "C", которую можно отнести к среднему классу в крупных городах). Недостаток данных в этой группе может быть вызван тем, что набор данных состоит из клиентов проживающих и работающих в крупных городах.

Рассмотрим осташиеся категории "B" и "C".

Группа "B" также малочисленна относительно группы "C", но не критично как остальные. Представители этой группы в меньшей степени подвержены просрочкам, что можно объяснить достаточно высоким доходом.

Группа "C", как мы уже предположили, состоит из представителей среднего класса в крупных городах, и как мы можеи увидеть люди с этой категорией дохода являются менее надежными заемщиками.

**Прямой зависимости между уровнем дохода и возвратом кредита в срок - есть (чем больше доход, тем надежнее заемщик)**

**Вывод сделан с учетом отброса категорий с недостаточным количеством данных.**

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

Мы разбили данные по следующим целям:

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

Сгруппируем данные по этим категориям.

In [28]:
#Группировка по цели кредита
create_pivot_table(data, ['purpose_category']).sort_values('percentage')

                          sum  count percentage
                         debt   debt
purpose_category
операции с недвижимостью  780  10751   7.255139
проведение свадьбы        183   2313   7.911803
получение образования     369   3988   9.252758
операции с автомобилем    400   4279   9.347978

**Вывод:** 

Клиенты берущие кредит на операции с недвижимостью и на свадьбу более своевременно гасят платежи чем остальные группы. Это можно связать с тем, что эти люди имеют семейный бюджет и распределяют доходы более ответственно. Также подарки на свадьбе, могут покрыть часть кредита или кредит полностью. А покупка недвижимости процесс обдуманный, и требует глубокого рассмотрения финансовых возможностей.

Люди взявшие деньги на получение образования и операции с автомобилем более подвержены рискам стать должником. Вероятнее всего, это связано с тем, что люди получающие образование работают в небольшое свободное время на низкоквалифицированной работе и помимо кредита есть еще базовые потребности, которые им нужно удовлетворить в первую очередь. 
А автомобиль уже давно не является предметом роскоши и любой человек с доходом от среднего и выше может его себе позволить. Это покупка может быть импульсивной и необдуманной, а так же никто не исключает возможность ДТП, и все деньги будут уходить на покрытие ущерба.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Клиент скрыл данные о работе, некорректная загрузка/ввод данных, некорректная выгрузка (неправильно составлен SQL-запрос, неправильное объединение таблиц), сотрудник не запросил данные.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* Медианное значение лучше чем среднее в случаях, когда можно видеть большой разброс данных и есть значения, которые выделяются среди остальных. В случае с данным датасетом, уровень дохода и стаж работы как раз подходят под эти критерии.

### Шаг 4: общий вывод.

В данном проекте мы провели следующую работу над данными о платёжеспособности клиентов:
- Заменили пропуски в столбцах `days_employed` и `total_income` медианными значениями по каждому типу занятости `income_type`
- Обработали аномальные значения в столбцах `days_employed` и `children`
- Заменили вещественный тип данных в столбце `total_income` на целочисленный
- Обработали неявные дубликаты в столбце `education`
- Категоризировали данные по уровню дохода, целям кредита и количеству детей.

Обработав данные и проведя иследование мы пришли к следющим выводам:

1. Наличие детей увеличивает вероятность задолженности, но количество детей нет.
2. Люди не имеющие/не имевшие зарегистрированный брак имеют большую верятность стать должником.
3. Уровень дохода клиента влияет на факт погашения кредита в срок. При анализе двух крупных категорий "B" и "C", мы выяснили, что клиенты с большим уровнем дохода имеют меньше шансов стать должниками.
4. Люди берущие кредит на получение образования или на операции с автомобилем чаще становятся должниками.

Таким образом мы можем описать портреты "идеального" и рискованного клиента.

"Идеальный" клиент имеет следующие черты:
- Не имеет детей
- Состоял/состоит в браке
- Уровень дохода выше среднего (200001–1000000)
- Берет кредит на операции с недвижимостью.

Рискованный клиент имеет следующие черты:
- Имеет детей (>=1)
- Не имел/не имеет зарегистрированных отношений
- Уровень дохода - средний (50001–200000)
- Берет кредит на получение образования или операции с автомобилем